name: "CI Test"

on: [push, pull_request]

jobs:
  test:
    name: "CI Test on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2

    - name: "Get submodules"
      run: git submodule update --init --recursive

    - name: "Run tests"
      shell: bash
      run: tools/run_all_tests.sh

    - name: "Run tests with Minified version"
      shell: bash
      run: |
        tools/minify.sh
        tools/run_all_tests.sh

    - name: "Upload failed tmp directory"
      uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: failed-tmp-directory-${{ matrix.os }}-${{ github.sha }}
        path: .tmp
